<form method="post" action="{% url 'payroll:orderrecord_create' %}">
    {% csrf_token %}

    <div class="form-group form-group--record-type">
        <span class="form-label">Тип записи</span>
        {{ form.record_type }}
        {{ form.record_type.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.order_number.id_for_label }}" class="order-reference-label">Номер заказа</label>
        {{ form.order_number }}
        {{ form.order_number.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.gross_profit.id_for_label }}">Сумма</label>
        {{ form.gross_profit }}
        {{ form.gross_profit.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.accounting_period.id_for_label }}">Учетный период</label>
        {{ form.accounting_period }}
        {{ form.accounting_period.errors }}
    </div>

    <button type="submit" class="button-success">Сохранить</button>
</form>
